footer.footer
    .container
        .footer__content.grid
            .logo
                a(href="#") ScienceBox
            nav.footer__nav
                ul.grid
                    li
                        a(href="#") Условия
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Контакты
            ul.footer__social.grid
                li
                    a(href="#" class="github")
include ../includes/foot.pug