.top-line.grid
    .logo
        a(href="#") ScienceBox
    nav.top-line__nav
        ul
            li
                a(href="#") Языки
            li
                a(href="#") Курсы
            li
                a(href="#") О нас
    ul.top-line__auth-btns
        li
            a(href="#") Вход
        li
            a(href="#" class="top-line_btn-expressed") Регистрация
    button(class="hamburger")