.top-line
    .container.top-line__container.grid
        .logo
            a(href="#") ScienceBox
        nav.top-line__nav
            ul
                li
                    a(href="#") Языки
                li
                    a(href="#") Курсы
                li
                    a(href="#") О нас
        ul.top-line__auth-btns
            li
                a(href="#") Вход
            li
                a(href="#") Регистрация
        button(class="hamburger")