doctype html 
html
  include includes/head.pug
  body#chapter-page
    include common/mobile-nav.pug
    header.chapter-header
        .container
            include common/top-line.pug
    main.chapter-main
      .container.chapter-main__container.grid
        .chapter-main-sidebar
          h3.chapter-main-sidebar__title Введение в работу языка
          ul.chapter-main-sidebar__list
            li.chapter-main-sidebar__list-item
              a(href="#" class="chapter-main-sidebar__list-link chapter-main-sidebar__list-link_readed") - Почему Python?
            li.chapter-main-sidebar__list-item
              a(href="#" class="chapter-main-sidebar__list-link chapter-main-sidebar__list-link_reading") - Прикладные области разработки Python
            li.chapter-main-sidebar__list-item
              a(href="#" class="chapter-main-sidebar__list-link chapter-main-sidebar__list-link_notreaded") - Плюсы и минусы  языка
            li.chapter-main-sidebar__list-item
              a(href="#" class="chapter-main-sidebar__list-link chapter-main-sidebar__list-link_notreaded") - Как выполняется программа
        .chapter-main-content
          .chapter-main-content
            h1.chapter-main-content__title Прикладные области разработки Python
            p.chapter-main-content__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." 
            p.chapter-main-content__text Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
            pre
              code 
                | function log() {
                |   console.log('Hello World!');
                |  }
                |
                |  log();
            p.chapter-main-content__text Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
            .tasks
              h5.tasks__header Задачи
              .task
                h6.task__header Задача 1
                p.task__content Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                .task-answer
                  .task-answer__code
                  button.task-answer__hide Скрыть решение
                  button.task-answer__show-hint Подсказка
            
    include common/footer.pug
    