doctype html 
html
  include includes/head.pug
  body#chapter-page.grid
    include common/mobile-nav.pug
    header.chapter-header
        .container
            include common/top-line.pug
    main.chapter-main
      .container  
        .chapter-main-sidebar
          h3.chapter-main-sidebar__title Введение в работу языка
          ul.chapter-main-sidebar__list
            li
              a(href="#" class="chapter-main-sidebar__list-item ") - Почему Python?
            li
              a(href="#" class="chapter-main-sidebar__list-item chapter-main-sidebar__list-item_selected") - Прикладные области разработки Python
            li
              a(href="#" class="chapter-main-sidebar__list-item ") - Плюсы и минусы  языка 
            li
              a(href="#" class="chapter-main-sidebar__list-item ") - Как выполняется программа
        .chapter-main-content
          .chapter-main-content
            h1.chapter-main-content__title Прикладные области разработки Python
            p.chapter-main-content__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." 
            p.chapter-main-content__text Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
    include common/footer.pug
    