doctype html 
html
  include includes/head.pug
  body
    include common/mobile-nav.pug
    header.chapter-header
        .container
            include common/top-line.pug
    main.chapter-main
      .container
        .chapter-main__sidebar
        .chapter-main__content
    
    include common/footer.pug
    