doctype html 
html
  include includes/head.pug
  body#languages-page
    include common/mobile-nav.pug
    header.languages-header
        .container
            include common/top-line.pug
    main.languages-main
        .container
            .languages-main__text
                h1 Python
                p Python — это мощный инструмент для создания программ самого разнообразного назначения, доступный даже для новичков. С его помощью можно решать задачи различных типов.
        .languages-main__chapters
            h1.languages-main__title Часть 1 - Введение в работу языка
            .container
                .languages-main__items.grid
                    a(href="#" class='languages-main__item languages-main__item_readed') Почему Python?
                    a(href="#" class='languages-main__item languages-main__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Как выполняется работа
        .languages-main__chapters
            h1.languages-main__title Часть 1 - Введение в работу языка
            .container
                .languages-main__items.grid
                    a(href="#" class='languages-main__item languages-main__item_readed') Почему Python?
                    a(href="#" class='languages-main__item languages-main__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Как выполняется работа
        .languages-main__chapters
            h1.languages-main__title Часть 1 - Введение в работу языка
            .container
                .languages-main__items.grid
                    a(href="#" class='languages-main__item languages-main__item_readed') Почему Python?
                    a(href="#" class='languages-main__item languages-main__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Как выполняется работа
        .languages-main__chapters
            h1.languages-main__title Часть 1 - Введение в работу языка
            .container
                .languages-main__items.grid
                    a(href="#" class='languages-main__item languages-main__item_readed') Почему Python?
                    a(href="#" class='languages-main__item languages-main__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Как выполняется работа
        .languages-main__chapters
            h1.languages-main__title Часть 1 - Введение в работу языка
            .container
                .languages-main__items.grid
                    a(href="#" class='languages-main__item languages-main__item_readed') Почему Python?
                    a(href="#" class='languages-main__item languages-main__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Как выполняется работа
        .languages-main__chapters
            h1.languages-main__title Часть 1 - Введение в работу языка
            .container
                .languages-main__items.grid
                    a(href="#" class='languages-main__item languages-main__item_readed') Почему Python?
                    a(href="#" class='languages-main__item languages-main__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages-main__item languages-main__item_unreaded') Как выполняется работа
    include common/footer.pug