doctype html 
html
  include includes/head.pug
  body#languages-page
    include common/mobile-nav.pug
    .container
        include common/top-line.pug
    main.languages
        .container
            .languages__text
                h1 Python
                p Python — это мощный инструмент для создания программ самого разнообразного назначения, доступный даже для новичков. С его помощью можно решать задачи различных типов.
        .languages__chapters
            h1.languages__title Часть 1 - Введение в работу языка
            .container
                .languages__items.grid
                    a(href="#" class='languages__item languages__item_readed') Почему   ython?
                    a(href="#" class='languages__item languages__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages__item languages__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages__item languages__item_unreaded') Как выполняется работа
        .languages__chapters
            h1.languages__title Часть 1 - Введение в работу языка
            .container
                .languages__items.grid
                    a(href="#" class='languages__item languages__item_readed') Почему Python?
                    a(href="#" class='languages__item languages__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages__item languages__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages__item languages__item_unreaded') Как выполняется работа
        .languages__chapters
            h1.languages__title Часть 1 - Введение в работу языка
            .container
                .languages__items.grid
                    a(href="#" class='languages__item languages__item_readed') Почему Python?
                    a(href="#" class='languages__item languages__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages__item languages__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages__item languages__item_unreaded') Как выполняется работа
        .languages__chapters
            h1.languages__title Часть 1 - Введение в работу языка
            .container
                .languages__items.grid
                    a(href="#" class='languages__item languages__item_readed') Почему Python?
                    a(href="#" class='languages__item languages__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages__item languages__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages__item languages__item_unreaded') Как выполняется работа
        .languages__chapters
            h1.languages__title Часть 1 - Введение в работу языка
            .container
                .languages__items.grid
                    a(href="#" class='languages__item languages__item_readed') Почему Python?
                    a(href="#" class='languages__item languages__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages__item languages__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages__item languages__item_unreaded') Как выполняется работа
        .languages__chapters
            h1.languages__title Часть 1 - Введение в работу языка
            .container
                .languages__items.grid
                    a(href="#" class='languages__item languages__item_readed') Почему Python?
                    a(href="#" class='languages__item languages__item_reading') Прикладные области разработки Python
                    a(href="#" class='languages__item languages__item_unreaded') Плюсы и минусы языка
                    a(href="#" class='languages__item languages__item_unreaded') Как выполняется работа
    include common/footer.pug