$dark: #192457;
$light: #8694A3;
$lighter: #F5F5F5;
$primary: #F6F4FC;
$accent: #4160EF;
$green: #7EF37C;
$gold: #F3D27C;

//Breackpoints
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

$container-size: 1170px;